In [1]:
#!pip install gmaps

In [2]:
#!pip install jupyter_contrib_nbextensions

In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets

import json

# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-05-07 20:23:58,-34.4187,19.2345,55.80,79,38,4.16
1,1,Kapaa,US,2022-05-07 20:23:00,22.0752,-159.3190,80.58,83,100,19.57
2,2,Kaitangata,NZ,2022-05-07 20:23:59,-46.2817,169.8464,54.19,92,100,1.10
3,3,Rikitea,PF,2022-05-07 20:24:00,-23.1203,-134.9692,77.36,83,70,12.50
4,4,Port Alfred,ZA,2022-05-07 20:24:00,-33.5906,26.8910,64.18,80,100,4.00

In [5]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Heatmap for Wind Speed
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#! --py --sys-prefix widgetsnbextension

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2022-05-07 20:23:00,22.0752,-159.3190,80.58,83,100,19.57
3,3,Rikitea,PF,2022-05-07 20:24:00,-23.1203,-134.9692,77.36,83,70,12.50
9,9,Puerto Ayora,EC,2022-05-07 20:24:03,-0.7393,-90.3518,78.76,79,40,9.91
12,12,Sabang,ID,2022-05-07 20:24:04,5.8933,95.3214,81.46,80,100,9.89
13,13,Faanui,PF,2022-05-07 20:24:05,-16.4833,-151.7500,81.37,76,0,7.47
16,16,Arraial Do Cabo,BR,2022-05-07 20:23:59,-22.9661,-42.0278,75.16,83,40,9.22
19,19,Benito Juarez,MX,2022-05-07 20:24:07,19.3850,-99.1650,84.02,18,20,5.75
39,39,Cabo San Lucas,MX,2022-05-07 20:19:52,22.8909,-109.9124,88.90,25,0,11.50
41,41,Lorengau,PG,2022-05-07 20:24:18,-2.0226,147.2712,82.18,82,66,13.06
44,44,Victoria,HK,2022-05-07 20:20:04,22.2855,114.1577,76.32,75,100,4.00

In [14]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1             Kapaa      US     80.58  22.0752 -159.3190
3           Rikitea      PF     77.36 -23.1203 -134.9692
9      Puerto Ayora      EC     78.76  -0.7393  -90.3518
12           Sabang      ID     81.46   5.8933   95.3214
13           Faanui      PF     81.37 -16.4833 -151.7500
16  Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
19    Benito Juarez      MX     84.02  19.3850  -99.1650
39   Cabo San Lucas      MX     88.90  22.8909 -109.9124
41         Lorengau      PG     82.18  -2.0226  147.2712
44         Victoria      HK     76.32  22.2855  114.1577

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Rikitea,PF,77.36,-23.1203,-134.9692,People ThankYou
9,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Sabang,ID,81.46,5.8933,95.3214,Hotel Citra
13,Faanui,PF,81.37,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))